# Variáveis de ambiente para configuração do serviço

# ID do Projeto Google Cloud
GCP_PROJECT_ID="seu-projeto-gcp"

# Nome do Bucket no Google Cloud Storage para armazenar as mídias
GCS_BUCKET_NAME="seu-bucket-de-midia"

# Nome da coleção de contas de serviço no Firestore
FIRESTORE_SERVICE_ACCOUNTS_COLLECTION="service_accounts"
